# Application
APP_ENV=development
APP_NAME=govt-doc-helpdesk

# OpenAI
OPENAI_API_KEY=

# Cohere
COHERE_API_KEY=

# LangGraph
LANGGRAPH_API_KEY=

# Chroma Cloud
CHROMA_API_KEY=
CHROMA_TENANT=
CHROMA_DATABASE=
